Repository zooniverse/Panoptes-Front-End, pull requests merged in 2018-03, with the labels that each got.

#4439 Align feedback OK button to the bottom right of modal
  app/features/feedback/classifier/components/feedback-modal.jsx
  css/feedback.styl
Labels: feedback

#4441 Optionally show subject in feedback modal
  app/features/feedback/classifier/components/feedback-modal.jsx
  app/features/feedback/classifier/helpers/open-feedback-modal.jsx
  app/features/feedback/lab/components/rule-editor-modal.jsx
  app/features/feedback/lab/containers/rule-editor-modal-container.jsx
  app/features/feedback/shared/strategies/radial/create-rule.js
  app/features/feedback/shared/strategies/radial/feedback-mark.jsx
  app/features/feedback/shared/strategies/radial/lab-component.jsx
  app/features/feedback/shared/strategies/radial/reducer.js
Labels: feedback

#4450 Store workflow task history in Classifier state.
  app/classifier/classifier.jsx
  app/classifier/task-nav.jsx
Labels: feedback

#4462 Add default value for hideSubjectViewer
  app/features/feedback/shared/strategies/radial/create-rule.js
Labels: feedback

#4476 Move apply for beta form to its own folder
  app/pages/lab/apply-for-beta/apply-for-beta-form.jsx
  app/pages/lab/apply-for-beta/apply-for-beta-form.spec.js
  app/pages/lab/apply-for-beta/index.js
  app/pages/lab/visibility.cjsx
Labels: project builder, refactor

#4270 [WIP] Canvas-Viewer
  app/classifier/annotation-renderer/index.jsx
  app/classifier/annotation-renderer/svg.jsx
  app/classifier/classifier.jsx
  app/classifier/drawing-tools/root.cjsx
  app/classifier/frame-annotator.jsx
  app/components/file-viewer/canvas-viewer.jsx
  app/components/file-viewer/canvas-viewer.spec.jsx
  app/components/file-viewer/index.jsx
  app/components/frame-viewer.jsx
  app/components/modelling/baseModel.jsx
  app/components/modelling/galaxyModel.js
  app/components/modelling/galaxyRegls.js
  app/components/modelling/postProcessingRegl.js
  app/components/pan-zoom.jsx
  app/components/subject-viewer.cjsx
  app/components/svg-image.jsx
  app/components/svg-transparent-rect.jsx
  app/features/modelling/baseReglModel.jsx
  app/features/modelling/galaxy-builder/galaxyRegls.js
  app/features/modelling/galaxy-builder/galaxyScore.jsx
  app/features/modelling/galaxy-builder/index.js
  app/features/modelling/galaxy-builder/parseFunctions.js
  app/features/modelling/galaxy-builder/parseFunctions.spec.js
  app/features/modelling/galaxy-builder/postProcessingRegl.js
  app/features/modelling/index.js
  app/features/modelling/line-plot/index.js
  app/features/modelling/test-model.js
  app/lib/get-subject-location.coffee
  app/lib/get-subject-locations.js
  app/pages/dev-classifier/mock-data.coffee
  css/frame-annotator.styl
  css/subject-viewer.styl
  package-lock.json
  package.json
  public/assets/dev-classifier/testData.json
  public/assets/dev-classifier/testData0.json
Labels: Work In Progress
