Repository zooniverse/Panoptes-Front-End, pull requests merged in 2018-06, with the labels that each got.

#4696 Remove legacy feedback code
  app/classifier/feedback/README.md
  app/classifier/feedback/feedback-point.jsx
  app/classifier/feedback/feedback-point.spec.jsx
  app/classifier/feedback/feedback-ruleset.js
  app/classifier/feedback/feedback-ruleset.spec.js
  app/classifier/feedback/feedback-summary-container.jsx
  app/classifier/feedback/feedback-summary.jsx
  app/classifier/feedback/helpers.js
  app/classifier/feedback/process-feedback-drawing.js
  app/classifier/feedback/process-feedback-drawing.spec.js
  app/classifier/feedback/process-feedback-fixtures.js
  app/classifier/feedback/process-feedback-single.js
  app/classifier/feedback/process-feedback-single.spec.js
  app/classifier/feedback/svg-feedback-viewer.jsx
  app/classifier/feedback/svg-feedback-viewer.spec.jsx
  app/classifier/feedback/svg-tooltip-layer.jsx
  app/classifier/feedback/svg-tooltip-layer.spec.jsx
  app/classifier/feedback/tooltip.jsx
Labels: Project: feedback

#4697 Use workflowHistory to update feedback
  app/classifier/classifier.jsx
Labels: Project: feedback

#4677 Language picker
  app/classifier/index.cjsx
  app/constants/languageMenu.js
  app/locales/en.js
  app/locales/es.js
  app/locales/it.js
  app/locales/nl.js
  app/pages/lab/translations/index.jsx
  app/pages/project/components/LanguagePicker/LanguagePicker.jsx
  app/pages/project/components/LanguagePicker/LanguagePicker.spec.js
  app/pages/project/components/LanguagePicker/index.js
  app/pages/project/components/ProjectNavbar/ProjectNavbar.jsx
  app/pages/project/components/ProjectNavbar/ProjectNavbarContainer.jsx
  app/pages/project/components/ProjectNavbar/components/ProjectNavbarNarrow/ProjectNavbarNarrow.jsx
  app/pages/project/components/ProjectNavbar/components/ProjectNavbarWide/ProjectNavbarWide.jsx
  app/pages/project/components/ProjectNavbar/components/StyledHeader/Header.jsx
  app/pages/project/components/ProjectNavbar/components/Wrapper/Wrapper.jsx
  app/pages/project/index.jsx
  app/pages/project/project-page.spec.js
  app/pages/project/workflow-selection.jsx
Labels: translations

#4701 Move feedback update out of subject load
  app/classifier/classifier.jsx
Labels: Project: feedback, classifier
