Repository zooniverse/Panoptes-Front-End, pull requests merged in 2019-03, with the labels that each got.

#5284 Add invert subject to talk
  app/components/subject-viewer.cjsx
  app/subjects/subject-page.jsx
  app/talk/comment.cjsx
  css/subject-viewer.styl
Labels: enhancement, talk

#5295 Fallback for task that is missing an editor in the lab
  app/classifier/tasks/next-task-selector.cjsx
  app/pages/lab/workflow.cjsx
Labels: bug

#5297 Fix feedback single-answer-question left null
  app/features/feedback/shared/strategies/single-answer-question/reducer.js
  app/features/feedback/shared/strategies/single-answer-question/reducer.spec.js
Labels: Project: feedback, bug

#5294 Refactor notifications, keep unread
  app/lib/notifications-counter.js
  app/pages/notifications/notification-section.jsx
  app/partials/app.cjsx
Labels: notifications

#5290 Add subject viewer to feedback modal
  app/classifier/classifier.jsx
  app/components/subject-viewer.cjsx
  app/features/feedback/classifier/components/feedback-modal.jsx
  css/feedback.styl
Labels: enhancement
